.jumbotron {
  text-align: center;
  height: auto;
  padding: 30px;
}

#score-box {
  background-color: #ffffff;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 30px;
}
