.navbar {
  background: #0e1a56 !important;
  height: 50px;
}

.nav-link, .navbar-text {
  color: white !important;
  font-size: 1.3rem;
  text-decoration: none;
  margin: 5px;
  line-height: 3;
}

#reset {
  background-color: red;
  color: white;
}
