.navbar {
  background-color: #030061 !important;
  color: #ffffff !important;
}

.navbar-text > a {
  color: #ffffff !important;
  text-decoration: none !important;
}

#navbarText {
  display: flex !important;
  justify-content: flex-end !important;
}
